* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#ffffff ;
}

.top {
    background-color: #333333;
}

.nav {
    width: 1200px;
    margin: 0 auto;
    background-color: #333333;
    color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 80%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    margin: 10px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.nav-title {
    margin-left: 150px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 5px 5px #000000;
    margin-left: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col, .col-2 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.user-card, .card {
    width: 100%;
    background-color: #fff;
    border: 3px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color:#17a2b8 ;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
    margin: 0px 20px;
}

a {
    color:#185b99 ;
    font-weight: 600;
}

.header {
    background-color: #333333;
    padding: 15px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-content: center;
}

#education {
    margin: 5px 45px;
}

.avatar-s {
    border-radius: 50%;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    margin: 10px;
}

.avatar-i {
    border-radius: 50%;
    height: 40px;
    margin-top: 20px;
    margin: 10px;
}

.user-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.start, .end {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.dates {
    font-size: 20px;
    color:#7d7d7d ;
}

.footer {
    padding: 15px;
    border-top: 3px solid #999;
}

.connections {
    background-color:#cccccc ;
    color: #333;
    border-radius: 50%;
    height:30px;
    font-size: 22px;
    padding: 0 10px;
    margin-right: 15px;
    margin-left: 12px;
}

